<div id="<%= dom_id issue %>">
  <p>
    <strong>Issue no.: </strong>
    <%= "ISN0#{issue.id}" %>
  </p>

  <p>
    <strong>Item: </strong>
    <%= item_display_name get_item_by_id issue.item_id %>
  </p>

  <p>
    <strong>Description: </strong>
    <%= issue.issue_description %>
  </p>

  <p>
    <strong>Reported at: </strong>
    <%= issue.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
  </p>

  

  <% if Current.user.admin %>
        <p>
            <strong> User: </strong>
            <%= get_user_name_by_id issue.user_id %>
        </p>
  <% end %>   

  <p>
    <strong> Status: </strong>
        <% if issue.solved_at.nil? %>
            Not Solved
        <% else %>
            Solved at : <%= issue.solved_at.strftime("%d-%m-%Y %H:%M:%S") %>
            <p>
           <strong> Feedback:</strong> <%= issue.feedback %>
            </p>
        <% end %>
  </p>

</div>