<p>
  Hello <%= @user.name %>,
</p>

<% if @item.in_stock == @item.minimum_required_stock %>
  <p class="red_notification">
    The current stock of the item, <strong> <%= item_display_name @item %> </strong> is <strong> <%= @item.in_stock %> </strong> which is <%= (@item.in_stock == @item.minimum_required_stock) ? "equal to" : "below" %> the minimum required stock of the item (<strong> <%= @item.minimum_required_stock %> </strong>). You are requested to check the stock of the item and take the action.
  </p>
<% elsif @item.in_stock < @item.minimum_required_stock %>
  <p class="maroon_notification">
      The current stock of the item, <strong> <%= item_display_name @item %> </strong> is <strong> <%= @item.in_stock %> </strong> which is <%= (@item.in_stock == @item.minimum_required_stock) ? "equal to" : "below" %> the minimum required stock of the item (<strong> <%= @item.minimum_required_stock %> </strong>). You are requested to check the stock of the item and take the action.
    </p>
  <p>
<% end  %>

  Thanks,
</p>

<p>
 Inventory Management System
</p>