<% provide(:title, "Edit Profile")%>
<main class="page-body">
    <h1>Edit Profile</h1>
    <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        
        <%= form_for @user, url: user_path(@user) do |f| %>

            <%= render "shared/error", object: f.object  %>

            <div class="form-group mb-3">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
            </div>
            
            <div class="form-group mb-3">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group mb-3">
                <%= f.label :mobile_no %>
                <%= f.telephone_field :mobile_no, class: "form-control" %>
            </div>

            <div class="form-group mb-3 d-flex justify-content-center">
                <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
        <%end%>
    
    </div>
    </div>
</main>