<% provide(:title, "Update Password")%>
<h2>Update Your Password</h2>
 <div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <main class="page-body"> 
        <%= form_for Current.user, url: edit_password_path do |f| %>

            <%= render "shared/error", object: f.object  %>
           
            <div class="mb-3">
                <%= f.label :password %>
                <%= f.password_field :password, placeholder: "Abcd12#", class: "form-control" %>
            </div>
            <div class="mb-3">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, placeholder: "Abcd12#", class: "form-control" %>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <%= f.submit "Update Password", class: "btn btn-primary" %>
            </div>
        <%end%>
    </main>
  </div>
</div>