<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= brand.manufacturer %>
  </p>

  <p>
    <strong>Manufacturer Email:</strong>
    <%= brand.manufacturer_email %>
  </p>

  <p>
    <strong>Manufacturer Office:</strong>
    <%= brand.manufacturer_office %>
  </p>

</div>