
<% provide(:title, "Categories")%>
<br/>
<main class="page-body">
  <%= render "shared/flash"%>
  <div class="card">
    <div class="card-header">
      <%= render @category %>
    </div>
    <div class="card-body text-center">
        <% if current_user.admin? %>
          <%= link_to "Edit", edit_category_path(@category),class:"btn btn-secondary" %>   |
        <% end %>
        <%= link_to "Back", categories_path, class:"btn btn-secondary" %>
      <% if current_user.admin? %>
      <br/><br/>
        <%= button_to "Destroy", @category, method: :delete, class:"btn btn-danger" %>
      <% end %>
    </div>
  </div>
</main>