<% provide(:title, 'All Allotments') %>

<main class="page-body allotment">
  <%= render "shared/flash" %>
  
  <div class ="d-flex justify-content-between">
    <div>
      <%= search_form_for @q do |f| %> 
        <div class="input-group">
          <div class="form-outline">
            <%= f.text_field :item_name_cont, class: 'form-control', placeholder: 'search by Item name' %> 
          </div>
          <%= f.submit class: 'btn  btn-sm btn-secondary' %>
        </div>
      <%end%>
    </div>
    <% if current_user.admin %>
      <div>
        <%= search_form_for @q do |f| %> 
          <div class="input-group">
            <div class="form-outline">
              <%= f.collection_select(:user_name_cont, User.all,  :name, :email, include_blank: '--filter by email--', class: 'form-control') %> 
            </div>
            <%= f.submit 'Apply', class: 'btn btn-sm btn-secondary' %>
          </div>
        <%end%>
      </div>

      <div>
        <%= link_to "Make New Allotment", new_allotment_path, class:"btn btn-primary" %>
      </div> 
    <% end %>
  </div>
  

  <% if !@allotments.blank? %>
    <h2>Allotment History</h2>
      <div class="container-fluid">
        <table class="table table-striped table-hover table-bordered text-center">
          <thead class="table-dark">
            <tr>
              <th>User</th>
              <th>Item</th>
              <th>Allotment quantity</th>
              <th><%= sort_link(@q, :created_at, 'Allotted at', class: "text-white") %></th>
              <th><%= sort_link(@q, :dealloted_at, 'Deallocated at', class: "text-white") %></th>
              <% if current_user.admin %>
                <th></th>
              <% end %>
            </tr>
          </thead>

          <tbody id="allotments-table">
            <% @allotments.each do |allotment| %>
              <% @item = get_item_by_id allotment.item_id %>

              <%= render "allotment_row", allotment: allotment, item: @item %>
              
            <% end %>
          </tbody>
        </table>
      </div>
  <% else %> 
    <p class="text-center">
      <%= Current.user.admin ? "NO allotment have been made till now. Click /'Add Allotment'/ button to make new allotment." : "NO allotment have been made till now." %>
    </p>    
  <% end %>  
</main>


